body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main{
  background-color: #1e1e1e;
  color: #999999;
}
#trading{
  display: grid;
  grid-column-gap: 3%;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 5vh 10vh 5vh;
  padding-top: 5vh;
}
@media (max-width: 900px){
  #trading{
    display: grid;
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
    margin: 0;
  }
}
